# Basis-Authentifizierung für n8n
N8N_USER=admin
N8N_PASSWORD=supersecurepassword
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_RUNNERS_ENABLED=true

# N8N-PostgreSQL-Konfiguration
N8N_POSTGRES_USER=n8n
N8N_POSTGRES_PASSWORD=postgrespw
N8N_POSTGRES_DB=n8ndb

# Qdrant
QDRANT_API_KEY=your-qdrant-api-key

# Domain für n8n (Traefik Routing über Coolify)
N8N_HOST=automations.example.com



ADMINER_HOST=adminer.example.com


MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=yourmongodbpassword
MONGO_HOST=mongo.example.com
