# Basis-Authentifizierung für n8n
DB_POSTGRESDB_PASSWORD=$SERVICE_PASSWORD_POSTGRES
DB_POSTGRESDB_USER=$SERVICE_USER_POSTGRES
GENERIC_TIMEZONE=Europe/Berlin
POSTGRES_DB=n8n
POSTGRES_PASSWORD=$SERVICE_PASSWORD_POSTGRES
POSTGRES_USER=$SERVICE_USER_POSTGRES
SERVICE_FQDN_N8N=https://automations.domain.tld
SERVICE_PASSWORD_POSTGRES=postgrespw
SERVICE_URL_N8N=automations.domain.tld
SERVICE_USER_POSTGRES=user_db
TZ=Europe/Berlin

# Qdrant
QDRANT_API_KEY=your-qdrant-api-key
QDRANT_HOST=qdrant.deinedomain.com


ADMINER_HOST=adminer.deinedomain.com


MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=yourmongodbpassword
MONGO_HOST=mongo.deinedomain.com


BASEDATA_USER=dein_db_user
BASEDATA_PASSWORD=ein_sicheres_passwort
BASEDATA_DB=basedata

# für den NocoDB-DB-Service
NOCODB_DB_USER=nocodb_user
NOCODB_DB_PASSWORD=ein_sehr_sicheres_passwort
NOCODB_DB_NAME=nocodb
NOCODB_JWT_SECRET=Mein_Sehr_Geheimer_JWT_Schluessel123!

# für die Traefik-Host-Regel
NOCODB_HOST=nocodb.deinedomain.com


# Redis
REDIS_PASSWORD=EinSehrSicheresRedisPasswort123
REDIS_UI_HOST=redis-ui.deinedomain.com
