# Basis-Authentifizierung für n8n
N8N_USER=admin
N8N_PASSWORD=supersecurepassword
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_RUNNERS_ENABLED=true

# N8N-PostgreSQL-Konfiguration
N8N_POSTGRES_USER=n8n
N8N_POSTGRES_PASSWORD=postgrespw
N8N_POSTGRES_DB=n8ndb

# Qdrant
QDRANT_API_KEY=your-qdrant-api-key
QDRANT_HOST=qdrant.deinedomain.com

# Domain für n8n (Traefik Routing über Coolify)
N8N_HOST=automations.deinedomain.com
N8N_PROTOCOL=https
N8N_PORT=443
WEBHOOK_URL=https://${N8N_HOST}/


ADMINER_HOST=adminer.deinedomain.com


MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=yourmongodbpassword
MONGO_HOST=mongo.deinedomain.com


BASEDATA_USER=dein_db_user
BASEDATA_PASSWORD=ein_sicheres_passwort
BASEDATA_DB=basedata

# für den NocoDB-DB-Service
NOCODB_DB_USER=nocodb_user
NOCODB_DB_PASSWORD=ein_sehr_sicheres_passwort
NOCODB_DB_NAME=nocodb
NOCODB_JWT_SECRET=Mein_Sehr_Geheimer_JWT_Schluessel123!

# für die Traefik-Host-Regel
NOCODB_HOST=nocodb.deinedomain.com


# Redis
REDIS_PASSWORD=EinSehrSicheresRedisPasswort123
REDIS_UI_HOST=redis-ui.deinedomain.com
