# Zeitzone
GENERIC_TIMEZONE=Europe/Berlin
TZ=Europe/Berlin

# Basis-Authentifizierung für n8n
N8N_USER=dein_n8n_user
N8N_PASSWORD=dein_sicheres_passwort

# n8n Host- und Webhook-Konfiguration
N8N_FQDN=https://automations.domain.tld
N8N_HOST=automations.domain.tld
N8N_PROTOCOL=https
N8N_PORT=443
N8N_EDITOR_BASE_URL=${N8N_FQDN}
N8N_WEBHOOK_URL=${N8N_FQDN}


# n8n PostgreSQL-Datenbank
N8N_POSTGRES_DB=n8n
N8N_POSTGRES_USER=ORxj2WYSCdnQYUWo
N8N_POSTGRES_PASSWORD=S5U2WGh8rgJThiXILFsTCbjsfIQsy7TS
N8N_POSTGRES_HOST=n8n_postgres
N8N_POSTGRES_PORT=5432
N8N_POSTGRES_SCHEMA=public


# Qdrant
QDRANT_API_KEY=your-qdrant-api-key
QDRANT_HOST=qdrant.deinedomain.com


ADMINER_HOST=adminer.deinedomain.com


MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=yourmongodbpassword
MONGO_HOST=mongo.deinedomain.com


BASEDATA_USER=dein_db_user
BASEDATA_PASSWORD=ein_sicheres_passwort
BASEDATA_DB=basedata

# für den NocoDB-DB-Service
NOCODB_DB_USER=nocodb_user
NOCODB_DB_PASSWORD=ein_sehr_sicheres_passwort
NOCODB_DB_NAME=nocodb
NOCODB_JWT_SECRET=Mein_Sehr_Geheimer_JWT_Schluessel123!

# für die Traefik-Host-Regel
NOCODB_HOST=nocodb.deinedomain.com


# Redis
REDIS_PASSWORD=EinSehrSicheresRedisPasswort123
REDIS_UI_HOST=redis-ui.deinedomain.com
