# Datenbank-Konfiguration
NC_POSTGRES_DB=root_db
NC_POSTGRES_USER=postgres
NC_POSTGRES_PASSWORD=password

# NocoDB-Verbindungs-URL
NC_DB_URL=pg://postgres:password@noco_db:5432/root_db

# Domain für Traefik-Routing
NC_DOMAIN=https://nocodb.domain.tld
