# ─────────────── PostgreSQL ─────────────────
NC_DB=pg://noco_database:5432?u=postgres_user&p=passwordt&d=nc_root_db


# ─────────────── NocoDB ────────────────────
# Verbindungs-URL für die Metadaten­datenbank
POSTGRES_DB=nc_root_db
POSTGRES_PASSWORD=passwordt
POSTGRES_USER=postgres_user

# JWT-Secret für Authentifizierung und Verschlüsselung von Anmeldedaten
NC_AUTH_JWT_SECRET=569a1821-0a93-45e8-87ab-eb857f20a010

# Domain für Traefik-Routing
NC_DOMAIN=https://nocodb.domain.tld

# Port, auf dem NocoDB im Container läuft (Standard: 8080)
PORT=8080
