# Datenbank-Konfiguration
POSTGRES_DB=nc_root_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# NocoDB-Verbindungs-URL
NC_DB=pg://noco_database:5432?u=postgres&p=password&d=nc_root_db

# Domain für Traefik-Routing
NC_DOMAIN=https://nocodb.domain.tld
